{% extends "includes/base.twig" %}
{% block page_title %}Account{% endblock %}
{% block page_head %}{% endblock %}
{% block page_body %}
    <div class="container">
        <h3>Your account balance is {{ userdata.balance|number_format(8) }} BTC</h3>
        {% if userdata.address %}
            <p>Please deposit Bitcoin to <b>{{ userdata.address|e }}</b></p>
        {% else %}
        <form action="" method="POST">
            <button class="btn btn-secondary">Generate Address</button>
        </form>
        {% endif %}
    </div>
{% endblock %}